* {
  box-sizing: border-box;
  font-family: Trebuchet MS;
}

body {
    background-color: #FDEFE6;
}

.start-page, .end-page {
  width: 100vw;
  height: 100vh;
  background-color:  #FDEFE6;
  top: 0;
  left: 0;
  z-index: 10;
}

.start-page {
  display: flex;
}

.end-page {
  display: none;
}

.start-center, .end-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: auto;
  background-color: white;
  border: 3px solid #FAE0CB;
  border-radius: 10px;
  padding: 35px;
}

.end-center {
  width: 750px;
  height: 400px;
  justify-content: flex-start;
  padding: 50px;
}

.start-center img {
  width: 35%;
  margin-bottom: 15px;
}

.start-center p {
  padding: 5px;
  margin: 5px;
  color: #995E36;
  text-align: center;
}

.end-center p {
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  color: #995E36;
  text-align: center;
}

.start-game{
  width: 225px;
  margin-top: 5px;
}

main {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  height: 630px;
  margin: auto;
}

h1 {
  display: none;
}

.top-content {
  background-color: #FDEFE6;
  display: flex;
  height: 70%;
}

.top-bar {
  background-color: #FAE0CB;
  color: #995E36;
  font-size: 15px;
}

.side-bar {
  background-color: #FAE0CB ;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid #FAE0CB;
  width: 10px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.character-sushi-selection {
  display: flex;
  background-color: #FAE0CB;
  height: 25%;
}

.character-sushi-selection > div {
  flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.center-block {
  display: flex;
  height: 90%;
}

.player-selection {
  display: flex;
  flex-wrap: wrap;
  background-color: #FDEFE6;
  flex-grow: 4;
  width: 0;
  background-image: url(../assets/images/bg-plateonly.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-content: baseline;
}

.player-selection * {
  width: 130px;
  height: 115px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0;
  background-color: #FDEFE6;
  flex-grow: 1;
  padding-left: 40px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #FDEFE6;
  width: 100%;
  height: 30%;
}

.menu * {
  margin: 2px 4px;
  width: 125px;
}

.plate {
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 10px;
  margin: 15px 2px 0 2px;
  animation: squidge .6s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.plate:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

@keyframes squidge {
  0% {
    background-size: 95% 105%;
  }

  50% {
    background-size: 105% 90%;
  }

  100% {
    background-size: 95% 105%;
  }
}

@keyframes text-squidge {
  0%, 20% {
      -webkit-transform: translate(0%, 0%) scale(1.1);
              transform: translate(0%, 0%) scale(1.1);

    }
    50%, 70% {
      -webkit-transform: translate(0%, 0%) scale(1);
              transform: translate(0%, 0%) scale(1);
    }
    100% {
      -webkit-transform: translate(0%, 0%) scale(1.1);
              transform: translate(0%, 0%) scale(1.1);
    }
}

button:focus {
  outline:0;
}

.item > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  border: 2px solid #FAE0CB;
  border-radius: 10px;
}


.tunaNigiri {
  background-image: url(../assets/images/tuna-nigiri.png);
}

.salmonNigiri {
  background-image: url(../assets/images/salmon-nigiri.png);
}

.prawnNigiri {
  background-image: url(../assets/images/prawn-nigiri.png);
}

.tamagoNigiri {
  background-image: url(../assets/images/tamago-nigiri.png);
}

.tunaMaki {
  background-image: url(../assets/images/tuna-maki.png);
}

.salmonVegMaki {
  background-image: url(../assets/images/salmon-veg-maki.png);
}

.ikuraRoll {
  background-image: url(../assets/images/ikura-roll.png);
}

.tunaTemaki {
  background-image: url(../assets/images/tuna-temaki.png);
}

.tunaSashimi {
  background-image: url(../assets/images/tuna-sashimi.png);
}

.prawns {
  background-image: url(../assets/images/prawns.png);
}

.wasabi {
  background-image: url(../assets/images/wasabi.png);
}

.pickledGinger {
  background-image: url(../assets/images/pickled-ginger.png);
}

.soySauce {
  background-image: url(../assets/images/soy-sauce.png);
}

.misoSoup {
  background-image: url(../assets/images/miso-soup.png);
}

.yakisoba {
  background-image: url(../assets/images/yakisoba.png);
}

.shuCreams {
  background-image: url(../assets/images/shu-creams.png);
}

.purin {
  background-image: url(../assets/images/purin.png);
}

button {
  font-size: 27px;
  padding: 20px;
  color: oldLace;
  background-color: #BC825B;
  border: none;
  box-shadow: 0px 10px 0px 0px #995E36;
}

button.next-level, button.send-order {
  width: 120px;
  height: 105px;
}

.play-again {
  display: none;
  height: 95px;
  width: 215px;
}

.next-level {
  display: none;
  animation: text-squidge 1s linear infinite
  /* box-shadow: 3px 3px 15px #666; */
}


.time {
  font-size: 40px;
  margin: 15px 2px 0 2px;
  color: #EFBC96;
  font-weight: bold;
}

.timer {
  font-size: 30px;
  margin:  0 2px;
  color: #995E36;
  font-weight: bold;
}

.level-copy {
  font-size: 20px;
  margin: 15px 2px;
  color: #995E36;
}

.tips-copy {
  font-size: 20px;
  margin: 2px;
  color: #EFBC96;
}

.tips {
  font-size: 20px;
  margin: 2px;
  color: #995E36;
}

.clear-plate {
  background-image: url(../assets/images/clear-plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FAE0CB;
  border-radius: 10px;
}

.logo {
  background-image: url(../assets/images/sushi-squish-logo.png);
  background-color: #FAE0CB;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20%;
  margin-top: 20px;
}

.game-copy {
  padding: 0 15px;
  color: #995E36;
}

.mobile-landscape-notification {
  display: none;
}


@media only screen and (max-width: 768px) and (orientation: landscape) {
	body {
		-webkit-transform: scale(0.667);
		-webkit-transform-origin: top right;
		position: absolute;
		top: 0;
		width: 0;
	}

  main {
    width: 970px;
  }

  .player-selection {
    width: 100px;
    flex-grow: 3;
  }

  .player-selection * {
    width: 103px;
    height: 88px;
  }

  .character-sushi-selection {
    height: 20%;
  }

  .center-block {
    height: 110%;
  }

  .character-sushi-selection > div {
    margin: 0;
  }

  .side-bar{
    width: 15px;
  }

  .logo {
    margin: 10px 0 0 10px;
  }

  .menu * {
    width: 97px;
  }

  .menu {
    height: 22%;
  }

  .top-content {
    height: 52%;
  }

  .level-copy, .tips, .tips-copy {
    margin: 0;
    font-size: 18px;
  }

  .timer {
    margin: 0;
    font-size: 20px;
  }

  .time {
    font-size: 30px;
    margin: 10px 0 0 0;
  }

  button.next-level, button.send-order {
    width: 100px;
    height: 85px;
    font-size: 22px;
  }

  .chopsticks img {
    height: 100%;
  }

  .start-page, .end-page {
    margin-left: 150px;
  }
}
