* {
  box-sizing: border-box;
  font-family: Trebuchet MS;
}

body {
    background-color: Honeydew;
}

.start-page {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  display: flex;
  top: 0;
  left: 0;
  z-index: 10;
}

.start-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 400px;
  margin: auto;
  background-color: #FDEFE6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: BlanchedAlmond;
  width: 1200px;
  height: 630px;
  margin: auto;
}

h1 {
  font-size: 15px;
}

.top-content {
  background-color: #FDEFE6;
  display: flex;
  height: 70%;
}

.character {
  background-color: Thistle;
  flex-grow: 1;
}

.middle-section {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
}

.character-sushi-selection {
  display: flex;
  background-color: #FAE0CB;
  height: 25%;
}

.character-sushi-selection > div {
  /* border: 1px solid black; */
  margin: 10px 6px;
  flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.center-block {
  display: flex;
  //flex-direction: column;
  height: 75%;
}

.player-selection {
  display: flex;
  flex-wrap: wrap;
  background-color: #FDEFE6;
  flex-grow: 3;
  width: 130px;
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/bg-plateonly.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-content: baseline;
}

.player-selection * {
  width: 130px;
  height: 115px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0;
  background-color: #FDEFE6;
  flex-grow: 1;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  background-color: #FDEFE6;
  width: 100%;
  height: 30%;
}

.menu * {
  margin: 2px 4px;
  width: 125px;
}

.plate {
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 10px;
  margin: 15px 2px 0 2px;
  animation: squidge .6s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.plate:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  /* border-radius: 10px; */
}

@keyframes squidge {
  0% {
    background-size: 95% 105%;
  }

  50% {
    background-size: 105% 90%;
  }

  100% {
    background-size: 95% 105%;
  }
}

.item > div {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  border: 2px solid #FAE0CB;
  border-radius: 10px;
}

.tunaNigiri {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/tuna-nigiri.png);
}

.salmonNigiri {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/salmon-nigiri.png);
}

.prawnNigiri {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/prawn-nigiri.png);
}

.tamagoNigiri {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/tamago-nigiri.png);
}

.tunaMaki {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/tuna-maki.png);
}

.salmonVegMaki {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/salmon-veg-maki.png);
}

.ikuraRoll {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/ikura-roll.png);
}

.tunaTemaki {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/tuna-temaki.png);
}

.tunaSashimi {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/tuna-sashimi.png);
}

.prawns {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/prawns.png);
}

.wasabi {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/wasabi.png);
}

.pickledGinger {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/pickled-ginger.png);
}

.soySauce {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/soy-sauce.png);
}

.misoSoup {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/miso-soup.png);
}

.yakisoba {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/yakisoba.png);
}

.shuCreams {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/shu-creams.png);
}

.purin {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/purin.png);
}

button {
  height: 120px;
  font-size: 27px;
  padding: 20px;
  color: oldLace;
  background-color: #BC825B;
}

.play-again {
  display: none;
}

.next-level {
  display: none;
}

.tips-end {
  font-weight: bold;
  color: oliveDrab;
}

.clear-plate {
  background-image: url(/Users/caoimheclarke/development/project-01/assets/images/clear-plate.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FAE0CB;
  border-radius: 10px;
}
